@page "/"
@using ZooManager

<style>
    button {
        width: 75px;
        height: 75px;
        font-size: 50px;
    }

    button.sm {
        display: inline-flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    .garden {
        background-color: #04AA6D; /* Green */
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 style="text-align:end">Add Zones:</h1>
        </div>
        <div class="col-1">
            <button @onclick="@(() => Game.AddZones(Direction.down))"
                    type="button" class="sm btn btn-outline-dark">
                <h2>⏬</h2>
            </button>
        </div>
        <div class="col-1">
            <button @onclick="@(() => Game.AddZones(Direction.right))"
                    type="button" class="sm btn btn-outline-dark">
                <h2>⏩</h2>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h1 style="text-align:end">Add to Holding:</h1>
        </div>
        <div class="col-1">
            <button @onclick="@(() => Game.AddToHolding("cat"))"
                    type="button" class="sm btn btn-outline-dark">
                <h2>🐱</h2>
            </button>
        </div>
        <div class="col-1">
            <button @onclick="@(() => Game.AddToHolding("mouse"))"
                    type="button" class="sm btn btn-outline-dark">
                <h2>🐭</h2>
            </button>
        </div>
        <div class="col-1">
            <button @onclick="@(() => Game.AddToHolding("gardenKeeper"))"
                    type="button" class="sm btn btn-outline-dark">
                <h2>🚶‍♂️</h2>
            </button>
        </div>
        <div class="col-1">
            <button @onclick="@(() => Game.AddToHolding("rabbit"))"
                    type="button" class="sm btn btn-outline-dark">
                <h2>🐇</h2>
            </button>
        </div>
        <div class="col-1">
            <button @onclick="@(() => Game.AddToHolding("trap"))"
                    type="button" class="sm btn btn-outline-dark">
                <h2>💣</h2>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h1 style="text-align:end">Holding Pen:</h1>
        </div>
        <div class="col-6">
            <button disabled type="button" class="btn btn-outline-dark">
                <h2>@Game.holdingPen.emoji<sup>@Game.holdingPen.rtLabel</sup></h2>
            </button>
        </div>
    </div>
        <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center">Coins: @coinsCounter</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center">Current Round: @roundCounter</h1>
            @if (gameWon)
            {
                <h1 style="text-align:center">You win! 9 flowers placed in the center.</h1>
            }
            else
            {
                <button @onclick="NextRound" type="button" class="btn btn-outline-dark">
                    <h2>Next Round</h2>
                </button>
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table align="center">
                @for (var y = 0; y < Game.numCellsY; y++)
                {
                    <tr>
                        @for (var x = 0; x < Game.numCellsX; x++)
                        {
                            var a = Game.animalZones[y][x];
                            if (3 <= x && x <= 7 && 3 <= y && y <= 7)
                            {
                                <td class="garden">
                                    <button @onclick="@(() => Game.ZoneClick(a))"
                                            type="button" class="btn btn-outline-dark">
                                        <h2>@a.emoji<sup>@a.rtLabel</sup></h2>
                                    </button>
                                </td>
                            } else
                            {
                                <td>
                                    <button @onclick="@(() => Game.ZoneClick(a))"
                                            type="button" class="btn btn-outline-dark">
                                        <h2>@a.emoji<sup>@a.rtLabel</sup></h2>
                                    </button>
                                </td>
                            }
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@code {
    private int roundCounter = 0;
    private int coinsCounter = 0;
    private bool gameWon = false;

    protected override void OnInitialized()
    {
        Game.SetUpGame();
    }

    private void NextRound()
    {
        Game.NextRound();
        coinsCounter = Flowers.getCounter();
        roundCounter++;
        gameWon = Game.gameWon; // Access the game state to check if the game has been won
    }
}

